table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

col {
    width: 6.25%;
}

th {
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(189, 189, 189);
}

td {
    padding: 5px;
    vertical-align: top;
}

.indent {
    margin-left: 40px
}