header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: hsl(120, 100%, 25%);
    padding: 10px
}

body {
    margin: 0;
    background-color: hsl(73, 100%, 79%);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  hsl(120, 100%, 35%);
}

nav li {
    display: inline;
    float: left;
    border-right: 5px solid hsl(120, 100%, 25%);
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
}

main {
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 25px;
}

col {
    width: 6.25%;
}

th {
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(189, 189, 189);
}

td {
    padding: 5px;
    vertical-align: top;
}

.indent {
    margin-left: 40px
}